<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <%- include('./components/head') %>
</head>
<body>
    <%- include('./components/nav') %>
 

</div >


<div id="detalhes">
    
    
<p><h3 class="detalhesnome"> <%= conviteresposta.nome %> </h3> </p>
<a  class="detalhesimagem"><img src="<%= conviteresposta.imagem%>" alt=""> </a> 
<p class="detalhesdescricao"> <%= conviteresposta.descricao %> </p>
<p> <%= conviteresposta.tipo%> </p>


</div>

</div>

    <%- include('./components/footer') %>
</body>


</html>